# Download Prometheus
curl -LO https://github.com/prometheus/prometheus/releases/download/v2.52.0/prometheus-2.52.0.linux-amd64.tar.gz
tar -xvzf prometheus-2.52.0.linux-amd64.tar.gz
mv prometheus-2.52.0.linux-amd64 prometheus

# Download Grafana
curl -LO https://dl.grafana.com/oss/release/grafana-10.2.3.linux-amd64.tar.gz
tar -xvzf grafana-10.2.3.linux-amd64.tar.gz
mv grafana-10.2.3 grafana

# Download Node Exporter
curl -LO https://github.com/prometheus/node_exporter/releases/download/v1.8.1/node_exporter-1.8.1.linux-amd64.tar.gz
tar -xvzf node_exporter-1.8.1.linux-amd64.tar.gz
mv node_exporter-1.8.1.linux-amd64 node_exporter
